/*************ProductsGridStart*****************/

.product_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(auto, auto);
  gap: 30px;
  background-color: #eef1ff;
  padding: 30px 30px 100px;
}

#laptop {
  grid-column: 2/3;
  grid-row: 1;
}

#console {
  grid-column: 3/4;
  grid-row: 1;
}

#fusion_splicer {
  grid-column: 2/3;
  grid-row: 2;
}

#dj_mixer {
  grid-column: 3/4;
  grid-row: 2;
}

#smart_tv {
  grid-column: 2/3;
  grid-row: 3;
}

#gaming_pc {
  grid-column: 3/4;
  grid-row: 3;
}

#motorbike {
  grid-column: 2/3;
  grid-row: 4;
}

#vehicle {
  grid-column: 3/4;
  grid-row: 4;
}

@media screen and (max-width: 1280px) {
  .product_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #eef1ff;
    gap: 0px;
  }

  #laptop {
    grid-column: 1/2;
    grid-row: 1;
  }

  #console {
    grid-column: 2/3;
    grid-row: 1;
  }

  #fusion_splicer {
    grid-column: 1/2;
    grid-row: 2;
  }

  #dj_mixer {
    grid-column: 2/3;
    grid-row: 2;
  }

  #smart_tv {
    grid-column: 1/2;
    grid-row: 3;
  }

  #gaming_pc {
    grid-column: 2/3;
    grid-row: 3;
  }

  #motorbike {
    grid-column: 1/2;
    grid-row: 4;
  }

  #vehicle {
    grid-column: 2/3;
    grid-row: 4;
  }

  .product_card {
    display: flex;
    flex-flow: column;
    padding: 80px 80px 0px 80px;
  }
}

@media screen and (max-width: 920px) {
  .product_grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-auto-rows: minmax(auto, auto);
    background-color: #eef1ff;
    gap: 30px;
    padding: 30px;
  }

  #laptop {
    grid-column: 1/2;
    grid-row: 1;
  }

  #console {
    grid-column: 1/2;
    grid-row: 2;
  }

  #fusion_splicer {
    grid-column: 1/2;
    grid-row: 3;
  }

  #dj_mixer {
    grid-column: 1/2;
    grid-row: 4;
  }

  #smart_tv {
    grid-column: 1/2;
    grid-row: 5;
  }

  #gaming_pc {
    grid-column: 1/2;
    grid-row: 6;
  }

  #motorbike {
    grid-column: 1/2;
    grid-row: 7;
  }

  #vehicle {
    grid-column: 1/2;
    grid-row: 8;
  }

  .product_card {
    display: flex;
    flex-flow: column;
    padding: 0px;
  }

  .product_body {
    display: flex;
    flex-flow: column;
    border: 1px solid blue;
    padding: 5px;
  }
}

@media screen and (max-width: 321px) {
  .product_grid {
    display: flex;
    flex-flow: column;
  }
}

@media screen and (max-width: 291px) {
  .product_card {
    width: 200px;
  }
}

/*************ProductsGridEnd*****************/

/*****productItemsStart*************/

.product_card {
  display: flex;
  flex-flow: column;
}

.product_card img {
  width: 100%;
  flex: 1;
}

.product_body {
  display: flex;
  position: relative;
  flex-flow: column;
  flex: 1;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #79a942;
  padding: 0px;
}

.product_title {
  font-size: 14px;
  color: #79a942;
  flex: 1;
}

.product_description {
  display: flex;
  margin-bottom: 0px;
  border-right: 1px solid #79a942;
  line-height: 22px;
  padding-right: 10px;
  flex: 1;
}

.read_more {
  margin: 0px;
  border-right: 1px solid #79a942;
  flex: 1;
  padding-bottom: 50px;
  text-decoration: none;
  padding-top: 2px;
  color: #f7931e;
  font-weight: bold;
}

.read_more:hover {
  color: #79a942;
  text-decoration: underline;
}

.buy_btn {
  position: absolute;
  right: 0px;
  bottom: -12px;
  text-decoration: none;
  color: white;
  background-color: #393939;
  width: 38%;
  text-align: center;
  line-height: 24px;
  border-radius: 10px;
}

.buy_btn:hover {
  background-color: #79a942;
}

/*****productItemsEnd*************/
