/**********general style for the body*************/

body {
  margin: 0px;
}

/**********general style for the body*************/

/* #root {
  background-color: white;
} */

/******general styles********/
/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
} */
